{% extends "base.html" %}

{% block title %} About {% endblock title%}

{% block aboutActive %}active{% endblock aboutActive %}
{% block body %}
<div class="container my-3">

  <h4 class="text-center">About Us</h4>
  <p class="text-center">The following people made a huge contribution in making the page.</p>
  <div class="row my-4">
    <div class="col-md-6">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="static/images/at1.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Anant Yadav</h5>
          <p class="card-text">And this is me Anant ,I have made this project with the help of Code With Harry.</p>
          
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="static/images/harry.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Harris Ali Khan</h5>
          <p class="card-text">
            (Also known as harry),
            I am a 21 year old technology freak student who is happiest in the heart of my teachers, family and
            close friends.I like trying new stuffs, which must have struck you already. I am always doing that which I
            cannot do in order that I may learn how to do it. I can learn and implement anything, I am interested in at
            a very fast pace.
          </p>
          
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}