{% extends "base.html" %}

{% block title %} Home {% endblock title%}

{% block homeActive %}active{% endblock homeActive %}
{% block body %}


<div class= "container my-3">
 

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Welcome to mCoder!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="/blog" role="button"> Go to Blog </a></p>
      </div>
    </div>
  
    <div class="py-5 text-center">
      
      <h2>Checkout Our Top Blogs</h2>
      
    </div>

      <!-- Example row of columns -->
      <div class="row">
        {% for post in posts %}
        <div class="col-md-4">
          <h2>{{post.title}}</h2>
          <p> <div class="preview"> {{post.content | safe |truncatechars:150 }} </div></p>
          <p><a class="btn btn-secondary" role='submit' href="/blog/{{post.slug}}">View details »</a></p>
        </div>
        {% endfor %}
      </div>
  
      <hr>
  
    </div> <!-- /container -->
  


{% endblock body %}

