{% extends "base.html" %}

{% block title %} BlogHome {% endblock title%}

{% block blogActive %}active{% endblock blogActive %}
{% block body %}
<div class= "container my-3">
  <h2>Popular blogPosts by mCoders: </h2>
    
      {% for post in blogs  %}
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary"> Article By {{post.author}}</strong>
          <h3 class="mb-1"> <a  class="text-dark" href="/blog/{{post.slug}}" > {{post.title}} </a></h3>
          
          <p class="card-text mb-auto"><div class="preview">{{post.content|safe | truncatechars:200}} </div></p>
          <div>
            <a class="btn btn-lg btn-primary my-2" role='submit' href="/blog/{{post.slug}}">Continue reading</a>

          </div>
        </div>
        
        
      </div>
      {% endfor %}

</div>

{% endblock body %}

{% block js %}
<script>
  let previews = document.getElementsByClassName('preview');
  Array.from(previews).forEach((element)=>{
    element.innerHTML = element.innerText
  })
</script>
{% endblock js %}
