{% extends "base.html" %}

{% block title %} BlogHome {% endblock title%}

{% block blogActive %}active{% endblock blogActive %}
{% block body %}
<div class= "container my-3">
  <h2>Popular blogPosts by mCoders: </h2>
    
      {% for post in blogs  %}
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-1"> {{post.title}}</h3>
            <strong class="d-inline-block mb-2 text-primary"> {{post.author}}</strong>
          
          <p class="card-text mb-auto">{{post.content | truncatechars:200}}</p>
          <div>
            <a class="btn btn-lg btn-primary" role='submit' href="/blog/{{post.slug}}">Continue reading</a>

          </div>
        </div>
        
        
      </div>
      {% endfor %}

</div>

{% endblock body %}

